@import url(//fonts.googleapis.com/css?family=Vazirmatn);
:root {
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --bodyColor: #f6f6f6;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --meinRed: #db2777;
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", tahoma, Arial;
}
body {
  background-color: var(--bodyColor);
  color: var(--mainBlack);
}

/* navbar */

.navbar {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryColor);
  z-index: 1;
}
.navCenter {
  width: 90%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navCenter .navBtn {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.navBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.navbar h1 {
  font-weight: 800;
  color: var(--mainBlack);
}
.cartBtn {
  position: relative;
}
.cartItems {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -15px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 20px;
  color: var(--mainWhite);
  background-color: var(--meinRed);
  cursor: pointer;
}

/* products */

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.products h2 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  letter-spacing: var(--mainSpacing);
}
.productsCenter {
  width: 90%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}
.product {
  border-radius: 8px;
  background-color: var(--mainWhite);
}
.product img {
  width: 100%;
  min-height: 12rem;
  border-radius: 8px 8px 0 0;
}
.productDesc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.productTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--mainBlack);
}
.productPrice {
  color: var(--primaryColor);
}
.productBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px 5px 0 0;
  outline: none;
  font-weight: bold;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  cursor: pointer;
}

/* modal */

.backDrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}
.cartModal {
  width: 30rem;
  min-height: 200px;
  position: absolute;
  top: -100%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--mainWhite);
  opacity: 0;
  box-shadow: 0 20px 120px gray;
  transition: all 0.5s ease-in-out;
}
.cartTitle {
  text-align: center;
}
.cartContent {
  padding: 1rem;
}
.cartItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.cartImg {
  width: 100px;
  height: auto;
  border-radius: 5px;
}
.cartItemDesc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartItemDesc h5 {
  margin-top: 10px;
  color: var(--mainGrey);
}
.cartItemController {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.cartItemController i.fa-chevron-up {
  font-weight: bold;
  color: var(--primaryColor);
  cursor: pointer;
}
.cartItemController i.fa-chevron-down {
  font-weight: bold;
  color: var(--meinRed);
  cursor: pointer;
}
.removeItem {
  cursor: pointer;
}
.cartFooter {
  text-align: center;
}

.cartModal button {
  padding: 8px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-weight: bold;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  cursor: pointer;
}
.clearModalBtn {
  margin: 0 10px;
  border: 1px solid var(--primaryColor) !important;
  background-color: var(--mainWhite) !important;
}
button:hover {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .cartModal {
    width: calc(100vw - 2rem);
    max-width: 50rem;
    left: 5% !important;
    padding: 0;
  }
}
